# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
backend/venv/
backend/.venv/
env/
venv/
ENV/

# Flutter / Dart
.dart_tool/
.packages
build/
.flutter-plugins
.flutter-plugins-dependencies
mobile_app/build/
mobile_app/.dart_tool/

# OS / IDE
.DS_Store
Thumbs.db
*.swp
.idea/
.vscode/
